* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #212121;
}

.common-work-space-container {
    display: flex;
    padding: 0px 7px 7px;
    /* display: none; */
}

.work-space-border {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #c3c3c3;
}

.work-space-column {
    width: 50%;
}

.p4 {
    display: none;
    background-color: #2f2f2f;
}

.work-space-item {
    margin: 6px 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 8px);
    min-height: 50px;
    text-align: center;
    color: #d1d1d1;
    /* display: inline-block; */
    /* vertical-align: top; */
}

.turn-work-space {
    margin: 7px 10px;
    color: #d1d1d1;
    /* padding-left: 16px; */
    padding: 5px 16px;

    /* display: none; */
}

.turn-work-space:first-child {
    margin-top: -7px;
}

.resource-bar {
    color: #d1d1d1;
    text-align: center;
    background-color: #212121;
    /* margin-bottom: 20px; */
    padding: 12px 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
}

.farm-table {
    margin: 20px 16px 0;
    border-radius: 5px;
}

.farm-row {
    display: flex;
    width: 100%;
}

.farm-cell {
    box-sizing: border-box;
    border-style: dotted;
    border-width: 1px;
    border-color: #3f3f3f;
    width: 20%;
    height: 80px;
    background-color: #2f2f2f;
    text-align: center;
    /* padding-top: 26px; */
    color: #d1d1d1;
}

.end-turn {
    margin: 10px 10px;
    color: #07120a;
    /* padding-left: 16px; */
    /* padding: 5px 16px; */
    background-color: #03C160;
    text-align: center;
    line-height: 44px;
    height: 44px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #03C160;
    cursor: pointer;
    font-size: 16px;
}

.prompt-view {
    margin: 6px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 22px);
    min-height: 50px;
    text-align: center;
    color: #d1d1d1;
    display: none;
}

.large-action-button {
    margin: 10px 9px 4px;
    color: #07120a;
    /* padding-left: 16px; */
    /* padding: 5px 16px; */
    background-color: #03C160;
    text-align: center;
    line-height: 44px;
    height: 44px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #03C160;
}

.undo-action {
    margin: 10px 9px 4px;
    color: #07120a;
    /* padding-left: 16px; */
    /* padding: 5px 16px; */
    /* background-color: #03C160; */
    text-align: center;
    line-height: 44px;
    height: 44px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #d1d1d1;
    color: #d1d1d1;
}


.major-development-card {
    display: none;
}

h3 { 
    text-align: center;
    color: #d1d1d1;
}

.turn-work-space-with-2-column {
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically */
}

.turn-work-space-right {
    margin-left: auto; /* Push the button to the right */
    /* background-color: blueviolet; */
    max-width: 80px;
}

#card-container {
    padding: 5px 10px;
}

.card {
    margin: 8px 0px;
}

.card-header {
    font-size: 16px;
    font-weight: bold;
    background-color: #474646; /* 暗灰色背景 */
    color: #eee; /* 浅灰色文字 */
    padding: 8px 16px;
    border-radius: 8px 8px 0 0; /* 顶部圆角 */
    border-bottom: 1px solid #888888; /* 深灰色边界线 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-score {
    font-size: 16px;
    color: #ddd;
}

.card-body {
    padding: 10px;
    background-color: #333; /* 更深的灰色背景 */
    border-radius: 0 0 8px 8px; /* 底部圆角 */
    color: #ccc;
}

.action-section h4 {
    color: #ccc;
    margin-top: 0;
    padding: 5px 0;
}

.action-section p {
    color: #ccc;
}

.action-button {
    background-color: #03C160;
    color: #07120a;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.farm-cell.moveable {
    background-color: #03c15fd3;
    cursor: pointer;
}

.farm-cell.target {
    background-color: #0375c19f;
    cursor: pointer;
}

.control-panel {
    padding: 5px;
    padding-top: 10px;
}


/*---------*/
.selection-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #494949f7; 
    border: 2px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
    color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    min-width: 300px;
    text-align: center;
}

.mask-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* 确保遮罩层在dialog下方 */
}

.selection-dialog h3 {
    margin-top: 0;
    color: #ccc; /* 设置标题颜色 */
}

.selection-dialog .select-button, .selection-dialog .cancel-button {
    display: block;
    margin: 10px 0px;
    width: 100%;
    color: #07120a;
    /* padding-left: 16px; */
    /* padding: 5px 16px; */
    background-color: #03C160;
    text-align: center;
    line-height: 44px;
    height: 44px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #03C160;
    font-size: 16px;
}

.selection-dialog .cancel-button {
    color: #ccc;
    background-color:transparent;
}

.selection-dialog .select-button:hover, .cancel-button:hover {
    background-color: #04d167; 
} 

.selection-dialog .cancel-button:hover {
    background-color: #ffffff18;
}

.hand-card-list-header {
    margin-top: 20px;
    margin-bottom: 15px;
}

.hand-card-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
    cursor: pointer;
    color: #d1d1d1;
}

.hand-card-title {
    /* font-weight: bold; */
    margin-bottom: 5px;
    font-size: 18px;
}

.hand-card-condition,
.hand-card-cost,
.hand-card-score,
.hand-card-description {
    font-size: 15px;
    margin-bottom: 5px;
}

.future-rewards-container {
    color: #d1d1d1;
    padding: 10px 16px;
    background-color: #212121;
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    margin: 0px 10px;
}

.future-rewards {
    margin-top: 5px;
}

.future-rewards div:not(:last-child) {
    margin-bottom: 5px;
}
